.knowledge-section {
  background: pink;
}

.skillTypes {
  justify-content: center;
  padding: 20px;
  color: white;
}

.leadType {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}

.skill {
  padding: 10px;
  text-align: center;
}
