.about-section {
  background: blue;
}

.about {
  justify-content: center;
  padding: 20px;
  color: white;
}

.about-me {
  text-align: center;
  color: white;
}

.bio-image {
  width: 225px;
  margin: auto;
}
