.about-section {
  background: blue;
  background-size: cover;
  height: 400px;
  /* border: red 1px solid; */
}

.name {
  text-align: center;
  padding: 20px;
  color: white;
  position: relative;
  border: red 1px solid;
}
