.contact-section {
  background: purple;
  background-size: cover;
  height: 400px;
  /* border: red 1px solid; */
}

.contact-me {
  text-align: center;
  padding: 20px;
  color: white;
  position: relative;
  border: red 1px solid;
}

.center {
  text-align: center;
}

.job-icon {
  font-size: 1.2rem;
  text-align: center;
}
