.contact-section {
  background: purple;
}

.contactHeader {
  text-align: center;
  font-size: 40px;
}

.contact-me {
  text-align: center;
  padding: 10px;
  color: white;
  position: relative;
}

.job-icon {
  font-size: 1.2rem;
  text-align: center;
}
