.nav-intro-section {
  /* background: url("../../assets/images/IMG_0941.jpeg"); */
  background: black;
  background-size: cover;
  height: 500px;
}

.name {
  text-align: center;
  top: 35%;
  color: white !important;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: -6px !important;
  text-align: center !important;
}

li {
  display: inline;
  padding: 10px;
  background: grey;
}

.links {
  color: white !important;
  position: absolute;
  bottom: 0;
  left: 44%;
}

a {
  color: white !important;
}
