/* TODO */
/* Update Placement of Links */

.nav-intro-section {
  /* background: url("../../assets/images/IMG_0941.jpeg"); */
  background: black;
  background-size: cover;
  height: 500px;
}

.name {
  text-align: center;
  top: 35%;
  color: white !important;
  position: relative;
}

.links {
  color: white !important;
  position: absolute;
  /* bottom: 0; */
  left: 44%;
}
