.nav-intro-section {
  background: url("../../assets/images/IMG_0941.jpeg");
  background-size: cover;
  height: 500px;
  border: red 1px solid;
}

.name,
.links,
a {
  text-align: center;
  /* padding-top: 10%; */
  color: white !important;
  position: relative;
  border: red 1px solid;
}
