/* Todo */
/* Fix styling */

.sticky-footer {
  font-size: 1.2rem;
  text-align: center;
  background-color: #1b262c;
  bottom: 0;
  /* position: fixed; */
  /* width: 100%; */
  color: #6c757d;
  /* background-size: cover; */
}
